{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "^react$",
    "^next/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/ui/(.*)$",
    "^@/components/features/(.*)$",
    "^@/components/layout/(.*)$",
    "^@/components/shared/(.*)$",
    "^@/components/providers/(.*)$",
    "^@/components/(.*)$",
    "^@/lib/api/(.*)$",
    "^@/lib/stores/(.*)$",
    "^@/lib/hooks/(.*)$",
    "^@/lib/utils/(.*)$",
    "^@/lib/constants/(.*)$",
    "^@/lib/types/(.*)$",
    "^@/lib/(.*)$",
    "^@/config/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
} 