SET session_replication_role = replica;

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: audit_log_entries; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--



--
-- Data for Name: flow_state; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--



--
-- Data for Name: identities; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--



--
-- Data for Name: instances; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--

COPY "auth"."instances" ("id", "uuid", "raw_base_config", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--



--
-- Data for Name: mfa_amr_claims; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--



--
-- Data for Name: mfa_factors; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--

COPY "auth"."mfa_factors" ("id", "user_id", "friendly_name", "factor_type", "status", "created_at", "updated_at", "secret", "phone", "last_challenged_at", "web_authn_credential", "web_authn_aaguid") FROM stdin;
\.


--
-- Data for Name: mfa_challenges; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--

COPY "auth"."mfa_challenges" ("id", "factor_id", "created_at", "verified_at", "ip_address", "otp_code", "web_authn_session_data") FROM stdin;
\.


--
-- Data for Name: one_time_tokens; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--

COPY "auth"."one_time_tokens" ("id", "user_id", "token_type", "token_hash", "relates_to", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--



--
-- Data for Name: sso_providers; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--

COPY "auth"."sso_providers" ("id", "resource_id", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: saml_providers; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--

COPY "auth"."saml_providers" ("id", "sso_provider_id", "entity_id", "metadata_xml", "metadata_url", "attribute_mapping", "created_at", "updated_at", "name_id_format") FROM stdin;
\.


--
-- Data for Name: saml_relay_states; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--

COPY "auth"."saml_relay_states" ("id", "sso_provider_id", "request_id", "for_email", "redirect_to", "created_at", "updated_at", "flow_state_id") FROM stdin;
\.


--
-- Data for Name: sso_domains; Type: TABLE DATA; Schema: auth; Owner: supabase_auth_admin
--

COPY "auth"."sso_domains" ("id", "sso_provider_id", "domain", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: admin_activity_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."admin_activity_logs" ("id", "admin_id", "action", "resource_type", "resource_id", "details", "ip_address", "user_agent", "created_at") FROM stdin;
\.


--
-- Data for Name: admin_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."admin_requests" ("id", "user_id", "email", "name", "reason", "status", "reviewed_by", "reviewed_at", "review_notes", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: admin_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."admin_sessions" ("id", "admin_id", "token", "expires_at", "created_at") FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: words; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audio_files; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."audio_files" ("id", "word_id", "file_name", "file_path", "file_size", "mime_type", "duration_seconds", "uploaded_by", "is_active", "file_index", "audio_type", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: chunk_english_data; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."chunk_english_data" ("id", "chunk_text", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: contact_inquiries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."contact_inquiries" ("id", "name", "email", "subject", "message", "category", "priority", "status", "user_id", "assigned_to", "ip_address", "user_agent", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: review_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."review_sessions" ("id", "user_id", "total_words", "completed_words", "correct_answers", "start_time", "end_time", "created_at") FROM stdin;
e5e6bce2-74f8-48d3-9da2-be78de11248f	3b5b2498-86ed-4ed8-968d-b98a0e286c43	1	1	1	2025-08-14 15:18:10.581+00	2025-08-14 15:18:22.207+00	2025-08-14 15:18:10.582+00
\.


--
-- Data for Name: review_words; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: security_audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."security_audit_log" ("id", "user_id", "action", "table_name", "record_id", "ip_address", "user_agent", "created_at") FROM stdin;
\.


--
-- Data for Name: study_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."system_settings" ("id", "key", "value", "description", "category", "is_public", "updated_by", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: trivia; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."trivia" ("id", "word_id", "category", "question", "correct_answer", "wrong_answers", "explanation", "difficulty_level", "is_featured", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."user_profiles" ("id", "user_id", "display_name", "avatar_url", "bio", "study_goal", "preferred_language", "timezone", "notification_settings", "study_streak", "last_study_date", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: user_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."user_progress" ("id", "user_id", "word_id", "mastery_level", "study_count", "correct_count", "incorrect_count", "last_studied", "is_favorite", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: user_trivia_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY "public"."user_trivia_progress" ("id", "user_id", "trivia_id", "is_correct", "attempts", "is_bookmarked", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: buckets; Type: TABLE DATA; Schema: storage; Owner: supabase_storage_admin
--

COPY "storage"."buckets" ("id", "name", "owner", "created_at", "updated_at", "public", "avif_autodetection", "file_size_limit", "allowed_mime_types", "owner_id", "type") FROM stdin;
se	se	\N	2025-07-27 11:29:04.682156+00	2025-07-27 11:29:04.682156+00	t	f	52428800	{audio/*}	\N	STANDARD
audio-files	audio-files	\N	2025-07-25 16:56:13.378037+00	2025-07-25 16:56:13.378037+00	t	f	\N	\N	\N	STANDARD
test	test	\N	2025-08-13 11:05:40.379048+00	2025-08-13 11:05:40.379048+00	t	f	\N	\N	\N	STANDARD
\.


--
-- Data for Name: buckets_analytics; Type: TABLE DATA; Schema: storage; Owner: supabase_storage_admin
--

COPY "storage"."buckets_analytics" ("id", "type", "format", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: objects; Type: TABLE DATA; Schema: storage; Owner: supabase_storage_admin
--



--
-- Data for Name: prefixes; Type: TABLE DATA; Schema: storage; Owner: supabase_storage_admin
--



--
-- Data for Name: s3_multipart_uploads; Type: TABLE DATA; Schema: storage; Owner: supabase_storage_admin
--

COPY "storage"."s3_multipart_uploads" ("id", "in_progress_size", "upload_signature", "bucket_id", "key", "version", "owner_id", "created_at", "user_metadata") FROM stdin;
\.


--
-- Data for Name: s3_multipart_uploads_parts; Type: TABLE DATA; Schema: storage; Owner: supabase_storage_admin
--

COPY "storage"."s3_multipart_uploads_parts" ("id", "upload_id", "size", "part_number", "bucket_id", "key", "etag", "owner_id", "version", "created_at") FROM stdin;
\.


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: auth; Owner: supabase_auth_admin
--

SELECT pg_catalog.setval('"auth"."refresh_tokens_id_seq"', 341, true);


--
-- PostgreSQL database dump complete
--

RESET ALL;
